@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.iron {
  background-image: url("/ironBackground.png");
}

.bronze {
  background-image: url("/bronzeBackground.png");
}

.silver {
  background-image: url("/silverBackground.png");
}

.gold {
  background-image: url("/goldBackground.png");
}

.diamond {
  background-image: url("/diamondBackground.png");
}

.perfect {
  background-image: url("/perfectBackground.png");
}

.ptCardPredictSelection {
  outline: lightblue 3px solid
}

.card-list-row {
  border-top: solid 2px black
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {

  .pagination-nav {
    padding-left: 8px;
    padding-right: 8px;
  }

  .pagination-option {
    margin: 0 4px;
  }
  
  .welcome-text {
    font-size: small;
  }

  .card-tier-selector {
    width:24px;
    height:36px;
  }

  .ptcard {
    width:200px;
    margin-bottom: 40px;
  }

  .card-rating-wrapper {
    margin-left: 15px;
    margin-top: 15px;
  }

  .card-image-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .tier-selector {
    width: 150px;
    margin: auto;
    margin-bottom: 15px;

  }

  .page-wrapper {
    width: 75%;
    padding: 10px 10px
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 420px) {

  .pagination-nav {
    padding-left: 8px;
    padding-right: 8px;
  }

  .pagination-option {
    margin: 0 4px;
  }
  
  .welcome-text {
    font-size: small;
  }

  .card-tier-selector {
    width:24px;
    height:36px;
  }

  .ptcard {
    width:250px;
    margin-bottom: 40px;
  }

  .card-rating-wrapper {
    margin-left: 15px;
    margin-top: 15px;
  }

  .card-image-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .tier-selector {
    width: 200px;
    margin: auto;
    margin-bottom: 15px;

  }

  .page-wrapper {
    width: 75%;
    padding: 10px 10px
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .pagination-nav {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pagination-option {
    margin: 0 8px;
  }

  .welcome-text {
    font-size: large;
  }

  .card-tier-selector {
    width:40px;
    height:60px;
  }

  .ptcard {
    width:400px;
    margin-bottom: 40px;
  }

  .card-rating-wrapper {
    margin-left: 35px;
    margin-top: 15px;
  }

  .card-image-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .tier-selector {
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
  }

  .page-wrapper {
    width: 60%;
    padding: 10px 35px;
  }

}
