@import "tailwindcss";

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.iron {
  background-image: url("/ironBackground.png");
}

.bronze {
  background-image: url("/bronzeBackground.png");
}

.silver {
  background-image: url("/silverBackground.png");
}

.gold {
  background-image: url("/goldBackground.png");
}

.diamond {
  background-image: url("/diamondBackground.png");
}

.perfect {
  background-image: url("/perfectBackground.png");
}

.pt-card-predict-selection {
  outline: lightblue 3px solid
}

.pt-card {
  width:calc(300px * var(--pt-card-scale));
  margin-bottom: 40px;
}

.card-rating-wrapper {
  margin-left: calc(10px * var(--pt-card-scale));
  margin-top: 5px;
}

.card-image {
  height: calc(200px * var(--pt-card-scale));
  width: calc(150px * var(--pt-card-scale));
}

.card-tier-selector {
  width:calc(var(--card-tier-selector-scale) * 35px);
  height:calc(var(--card-tier-selector-scale) * 45px);
}

.card-tier-selector-wrapper {
  margin-bottom: 15px;
}

.card-image-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-wrapper {
  width: calc(var(--page-scale) * 80%);
  padding: 10px 35px;
}

.pagination-nav {
  padding-left: calc(var(--pagination-scale) * 8px);
  padding-right: calc(var(--pagination-scale) * 8px);
}

.pagination-option {
  margin: 0 calc(var(--pagination-scale) * 4px);
}

@media only screen and (max-width: 1000px) {

  :root {
    --pt-card-scale: 0.9;
    --card-rating-wrapper-scale: 1.0;
    --card-image-wrapper-scale: 1.0;
    --card-tier-selector-scale: 0.75;
    --card-name: 1.0;
    --page-scale: 1.125;
    --pagination-scale: 1.0;
  }
  
  .welcome-text {
    font-size: small;
  }


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1000px) {

  :root {
    --pt-card-scale: 1.05;
    --card-rating-wrapper-scale: 1.0;
    --card-image-wrapper-scale: 1.0;
    --card-tier-selector-scale: 0.9;
    --card-name: 1.0;
    --page-scale: .9;
    --pagination-scale: 1.0;
  }
  
  .welcome-text {
    font-size: small;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1360px) {

  :root {
    --pt-card-scale: 1.2;
    --card-rating-wrapper-scale: 1.0;
    --card-image-wrapper-scale: 1.0;
    --card-tier-selector-scale: 1.1;
    --card-name-scale: 1.0;
    --page-scale: 0.75;
    --pagination-scale: 1.5;
  }

  .welcome-text {
    font-size: large;
  }


}
